<div class="relative">
  <div class="will-change relative z-[3] h-screen w-full transform bg-hero-dark"></div>
  <div class="textTrigger will-change relative z-[3] h-screen w-full transform bg-gradient-to-b from-hero-dark"></div>
  <div class="natureScroller relative mt-[-200vh] h-[400vh]">
    <div class="sticky left-0 top-0 h-screen w-full">
      <div class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center">
        <img
          src="{{ 'stars.webp' | asset_url }}"
          alt=""
          class="stars object-cover mix-blend-plus-lighter absolute w-full h-full inset-0 "
        >
        <span class="pre-heading text-white" id="second"> Heart of </span>
        <div class="relative z-[1000] !flex flex-col items-center" id="life">
          <span class="font-sonali text-[80px] leading-none text-white 2xl:text-[5.05vw] xl:text-[5vw]">Tradition</span>
          <span class="font-sonali text-[80px] leading-none text-white 2xl:text-[5.05vw] xl:text-[5vw]">Learning</span>
          <div class="mt-[20px] !flex items-end" style="display: inline-block; position: relative;">
            <span class="font-sonali text-[150px] leading-none text-white 2xl:text-[4.55vw] xl:text-[6vw]">&</span>
            <span class="font-sonali text-[180px] leading-[0.7em] text-white 2xl:text-[8vw] xl:text-[7vw]">
              Adventure.
            </span>
          </div>
          <span class="mt-10 text-[20px] leading-none text-white 2xl:text-[1.55vw] xl:text-[1.5vw] max-w-[750px]">
            At toveedo, we are dedicated to nurturing a love for Jewish culture through literature. We curate a diverse
            selection of engaging and educational books for children, aiming to inspire curiosity and connection to
            heritage. Our mission is to create a joyful reading experience that brings families together in a
            celebration of tradition and storytelling.
          </span>
        </div>
      </div>
      <img
        src="{{ 'cloud.png' | asset_url }}"
        alt=""
        class="absolute top-[50%] left-[-200px] w-[200px] h-auto cloud-fixed-left"
      >
      <img
        src="{{ 'cloud.png' | asset_url }}"
        alt=""
        class="absolute top-[40%] left-[-200px] w-[200px] h-auto cloud-fixed-left"
      >
      <img
        src="{{ 'cloud.png' | asset_url }}"
        alt=""
        class="absolute top-[40%] right-[-200px] w-[200px] h-auto cloud-fixed-right"
      >
      <img
        src="{{ 'cloud.png' | asset_url }}"
        alt=""
        class="absolute top-[50%]  right-[-200px] w-[200px] h-auto cloud-fixed-right"
      >
      <div class="sunset h-full w-full bg-[length:100%_500%]"></div>
      <img
        alt="Texture overlay"
        fetchpriority="high"
        decoding="async"
        data-nimg="fill"
        class="object-cover mix-blend-color-burn"
        sizes="100vw"
        src="{{ 'paper.jpg' | asset_url }}"
        style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
      >
    </div>
  </div>
  <div class="natureStack absolute bottom-0 left-0 z-[14] w-screen md:left-1/2 md:w-[120vw] md:-translate-x-1/2 overflow-clip">
    <img
      alt="Decorative object"
      fetchpriority="high"
      width="1920"
      height="1277"
      decoding="async"
      data-nimg="1"
      class="lifeParallax w-full"
      src="https://cdn.shopify.com/s/files/1/0903/5274/6784/files/center-01.png?v=1727720392"
      style="color: transparent; transform: translate3d(0px, 130.631px, 0px); translate: none; rotate: none; scale: 1.1;"
    >
    <img
      alt="Decorative object"
      fetchpriority="high"
      width="1920"
      height="1277"
      decoding="async"
      data-nimg="1"
      class="lifeParallax w-full"
      src="https://cdn.shopify.com/s/files/1/0903/5274/6784/files/center-02.png?v=1727720392"
      style="color: transparent; transform: translate3d(30px, 80px, 0px); translate: none; rotate: none; scale: 1.1; z-1;"
    >

    <img
      alt="Decorative object"
      fetchpriority="high"
      width="1920"
      height="1277"
      decoding="async"
      data-nimg="1"
      class="lifeParallax w-full"
      src="https://cdn.shopify.com/s/files/1/0903/5274/6784/files/Left.png?v=1727713517"
      style="color: transparent; translate: none; rotate: none; scale: none; transform: translate3d(0px, 130px, 0px);"

    ><img
      alt="Decorative object"
      fetchpriority="high"
      width="1920"
      height="1277"
      decoding="async"
      data-nimg="1"
      class="lifeParallax w-full"
      src="https://cdn.shopify.com/s/files/1/0903/5274/6784/files/right_0fac0d1e-cdf3-47ff-ab48-a722ac436705.png?v=1727728986"
      style="color: transparent; translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px);"
    >
    <div
      class="leafs absolute bottom-0 right-0"
      style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 195.946px, 0px);"
    >
      <img
        alt="Decorative object"
        fetchpriority="high"
        width="472"
        height="501"
        decoding="async"
        data-nimg="1"
        class="mainLeaf h-auto w-[25vw] origin-bottom-right"
        srcset="https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flistmain.webp&amp;w=640&amp;q=75 1x, https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flistmain.webp&amp;w=1080&amp;q=75 2x"
        src="https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flistmain.webp&amp;w=1080&amp;q=75"
        style="color: transparent; translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) rotate(-2.6151deg);"

      ><img
        alt="Decorative object"
        fetchpriority="high"
        width="455"
        height="505"
        decoding="async"
        data-nimg="1"
        class="smallLeaf absolute bottom-[-20%] right-[-25%] h-auto w-[23vw]"
        srcset="https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flist.webp&amp;w=640&amp;q=75 1x, https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flist.webp&amp;w=1080&amp;q=75 2x"
        src="https://ecom.square43.com/_next/image?url=%2Fimages%2Fhome%2Fnature%2Flist.webp&amp;w=1080&amp;q=75"
        style="color: transparent; translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) rotate(-0.0819deg);"
      >
    </div>
  </div>
</div>
{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center",
      "label": "Desktop Content Position"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full Width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Your Heading Here",
          "label": "Heading Text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" }
          ],
          "default": "h1",
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text Block",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Your text here.</p>",
          "label": "Text Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
